<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoogleChromeDeinstall.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <GoogleChromeDeinstall.My.MySettings>
            <setting name="UnistallApplication" serializeAs="String">
                <value>Google Chrome</value>
            </setting>
            <setting name="SilentParameterMsiExec" serializeAs="String">
                <value>/qb</value>
            </setting>
            <setting name="SilentParameterSetup" serializeAs="String">
                <value>--force-uninstall</value>
            </setting>
        </GoogleChromeDeinstall.My.MySettings>
    </applicationSettings>
</configuration>